.card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  background-color: #fff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 29px;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
}

.card__fav-icon {
  margin-right: 20px;
  background: transparent url(../images/fav-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__fav-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__fav-icon-selected {
  background-image: url(../images/fav-icon-selected.svg);
}
