.footer__text {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 60px;
  padding-top: 67px;
  width: 318px;
  color: #545454;
}

@media screen and (max-width: 500px) {
  .footer__text {
    padding-bottom: 36px;
    padding-top: 48px;
    width: 100%;
  }
}
