.header {
  padding-top: 45px;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header:after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #545454;
  opacity: 0.5;
  left: 0;
  top: 100%;
  position: absolute;
}

@media screen and (max-width: 800px) {
  .header {
    margin: 0 19px;
    max-width: calc(100% - 38px);
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding-top: 28px;
  }

  .border {
    margin-top: 32px;
  }
}
