.cards__list {
  display: grid;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  row-gap: 20px;
  column-gap: 17px;
}
