@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 500px) {
  .logo {
    margin-left: 27px;
  }

  .header {
    padding-top: 28px;
  }

  .border {
    margin-top: 32px;
  }
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 36px;
    width: 282px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  }

  .profile__title {
    font-size: 22px;
    margin-right: 10px;
  }

  .profile__edit-button {
  }

  .profile__add-button {
    width: 100%;
  }

  .profile__subtitle {
    text-align: center;
    width: 100%;
  }

  .card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__text {
    margin-left: 19px;
    margin-right: 19px;
    padding-bottom: 36px;
    padding-top: 48px;
    width: 282px;
  }
}

@media screen and (max-width: 999px) {
  .page__content {
    margin: 0 19px;
    max-width: calc(100% - 40px);
  }
}
